@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
  font-family: 'Figma Hand:Regular';
  src: local('Permanent Marker'), local('Comic Sans MS'), local('cursive');
  font-weight: 400;
  font-style: normal;
}
